<!DOCTYPE html>
<html ng-app="app">

<head>

    <title>Atlas Land Office</title>

    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-route.min.js"></script>
    <script src="javascripts/app.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<%= include nav.ejs %>
<div ng-view></div>

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval : 5000 //changes the speed
    })
</script>

</body>

</html>
