<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
       <br/>

            <div class="row">
                <div class="col-lg-3">
                    <img src="/images/atlaslogo2.jpg" style="width: 300px; height:300px;" alt=""/>
                </div>
                <div class="col-lg-9">
                    <p>ATLAS Land Office, LLC is a full service Land Surveying Company capable of meeting your project
                        needs.</p>
                </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>ALTA/ACSM Land Title Surveys</h4>
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                    nulla
                                    aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                    voluptatibus
                                    eveniet incidunt dicta nostrum quod?</p>
                                <a href="#" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Topographic and Boundary Surveys</h4>
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                    nulla
                                    aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                    voluptatibus
                                    eveniet incidunt dicta nostrum quod?</p>
                                <a href="#" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Construction Staking</h4>
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                    nulla
                                    aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                    voluptatibus
                                    eveniet incidunt dicta nostrum quod?</p>
                                <a href="#" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Mortgage Inspection Reports</h4>
                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                    nulla
                                    aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                    voluptatibus
                                    eveniet incidunt dicta nostrum quod?</p>
                                <a href="#" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>


    <!-- /.row -->
</div>