<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <br/>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">

                    <img src="/images/atlasLogo3.png" alt=""/>
                </div>

            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-7 col-lg-offset-3">

                        <center><h3>ATLAS Land Office, LLC is a full service Land Surveying Company capable of meeting your
                            project
                            needs.</h3></center>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center><h4>ALTA/ACSM Land Title Surveys</h4></center>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                nulla
                                aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                voluptatibus
                                eveniet incidunt dicta nostrum quod?</p>
                            <a href="#" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center><h4>Topographic and Boundary Surveys</h4></center>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                nulla
                                aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                voluptatibus
                                eveniet incidunt dicta nostrum quod?</p>
                            <a href="#" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center><h4>Construction Staking</h4></center>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                nulla
                                aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                voluptatibus
                                eveniet incidunt dicta nostrum quod?</p>
                            <a href="#" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center><h4>Mortgage Inspection Reports</h4></center>
                        </div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae
                                nulla
                                aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda
                                voluptatibus
                                eveniet incidunt dicta nostrum quod?</p>
                            <a href="#" class="btn btn-default">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.row -->
</div>